@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}

.link,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.btn {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-accent);
  background-color: transparent;
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-accent-medium);
  }
  .btn:hover {
    background-color: var(--color-accent-light);
  }
  a:active, .btn:active {
    background-color: var(--color-accent-medium);
  }
}

@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }
}

.controll__item.controll__item--circle {
  display: none;
}

.zoom-wrapper .controll__buttons {
  padding-top: 0;
}
.sc-cart-btn-delete {
  padding: 0;
}
